@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans';
}

p {
    line-height: 26px;
}

/* all general classes  */
.container {
    width: 80%;
    margin: 0 auto;
}

.col-1 {
    width: 100%;
}

.col-2 {
    width: 50%;
}

.col-3 {
    width: 100/3%;
}

.col-4 {
    width: 25%;
}

.w-70 {
    width: 70%;
}
.w-45{
    width: 45%;
}
.d-inline{
    display: flex;
    align-items: center;
}
.d-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.primary-btn {
    border-radius: 5px;
    padding: 20px 25px;
    outline: none;
    border: none;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    width: 164px;
}
/* background classes  */
.bg-primary{
    background: #F15B22;
}
.bg-white{
    background: #ffffff;
}
.bg-dark{
    background: #000000;
}
/* ................ */

/* padding classes  */
.py-1 {
    padding: 1rem 0;
}

.py-2 {
    padding: 2.5rem 0;
}
/* ..............  */

/* margin classes  */
.my-1 {
    margin: 1rem 0;
}
.my-2 {
    margin: 2.5rem 0;
}
.mt-1 {
    margin-top: 1rem;
}
.mt-2 {
    margin-top: 2rem;
}
.mb-1 {
    margin-bottom: 1rem;
}
.ml-1{
    margin-left: 0.5rem;
}
.ml-2{
    margin-left: 1.2rem;
}
/* ...............  */

/* text classes  */
.text-primary{
    color: #F15B22;
}
.text-white{
    color: #ffffff;
}
.text-center {
    text-align: center;
}
.text-right {
    text-align: right;
}
.fs-1 {
    font-size: 65px;
}
.fs-2 {
    font-size: 40px;
}
.fs-3 {
    font-size: 25px;
}
/*.............  */

/* hero section  */
.hero-section {
    height: 90vh;
    background: #f1fcfd;
}

.hero-img>img, .person-img>img {
    width: 90%;
    height: 90%;
}
/* ..........  */

/* plans card  */
.plan-card{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
}
/* ............  */

/* join me section classes */
.join-me {
    padding: 50px 0;
    margin: 100px 0;
}
.join-img {
    width: 80%;
}
.join-img>img {
    height: 100%;
    width: 100%;
}
.join-input {
    outline: none;
    height: 50px;
    margin: 10px 0;
    border-width: 0 0 2px 0;
    border-color: rgb(192, 192, 193);
    font-size: 16px;
}
.join-input:focus {
    border-color: #F15B22;
}
.join-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
    border-radius: 20px;
    overflow: hidden;
}
.form-container>h1 {
    font-size: 45px;
    margin: 20px 0;
}
.form-container {
    padding: 50px;
}
#text-area {
    resize: none;
    height: 65px;
}
/* .............  */

/* call now section  */
.overlay-container{
    height: 300px;
    background-image: linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), url('./images/watch.png');
    border-radius: 8px;
    background-repeat: no-repeat;
    background-size: 100%;
}
.callnow-container{
    display: flex;
    flex-direction: column;
    padding-left: 4rem;
}
/* ..................  */

/* footer section  */
.footer{
    padding: 4.5rem 0;
    margin-top: 5rem;
    background: #0f042c;
    color: #ffffff;
}
.footer-left{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.subsribe-input{
    padding: 1rem 0.7rem;
    background: none;
    font-size: 18px;
    outline-color: white;
    border: 0.5px solid #ffffff;
    color: #ffffff;
    border-radius: 5px;
    margin-top: 1rem;
    width: 80%;
}
/* ..............  */